body{
    font-family: "Baskervville SC", serif;
}

nav{
    background-color: #111 ;
    color: white;
    padding: 20px 50px;

}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 15px;
    border-radius: 10px ;

}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgray
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid blue;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.slider{
    background: url("https://img.freepik.com/free-vector/abstract-black-texture-background-hexagon_206725-413.jpg?w=996&t=st=1720510513~exp=1720511113~hmac=18b29cc99c03f4a5bf64010f3f25c739f8928d74a2e0ae43439cf696511a9fda");
    /* clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%); */
}

.sliderWrapper{
    display: flex;
    width: 500vw;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 15%;
    font-size: 50px;
    color: white;
}
